@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, form, input {
	margin: 0;
	padding: 0;
	background: transparent;
}
body {
	font-size: 14px;
	font-weight: 400;
	background: #fff;
	font-family: 'proximanovalight' !Important;
}
p {
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 15px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
	font-size: 43px;
	font-weight: 300;
}
h4 {
	font-size: 22px;
}
h3 {
	font-size: 19px;
}
h5 {
	font-size: 17px;
}
h2 {
	font-size: 25px;
}
h6 {
	font-size: 15px;
}
.container {
	width: 1170px !important;
}
.main_wrapper {
	width: 100%;
	float: left;
}
.page-header_holder {
	width: 100%;
	float: left;
}
.header_section_one {
	width: 100%;
	height: 68px;
	background-color: #ec0d2c;
	float: left;
}
.logo {
	width: 115px;
	height: 43px;
	float: left;
	padding-top: 15px;
}
.logo img {
	width: 100px;
	height: 35px;
}
.dropdown_holder {
	width: 100px;
	float: left;
}
img.menu_icon {
	width: 30px !important;
	height: 20px !important;
}
.dropdown_holder select {
	border: none;
	background: transparent;
	padding-top: 20px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}
/*dropdown*/


.dropbtn {
	background-color: transparent;
	color: white;
	padding-top: 20px;
	font-size: 15px;
	border: none;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 999;
}

.dropdown-content.cate_con {
	min-width: 320px;
	z-index: 999;
}
.drop_wrapper span img {
	width: 15px;
}
.drop_wrapper_two span img {
	width: 15px;
}
span.top_arrow {
	width: 100%;
	float: left;
	margin: 0 auto;
	text-align: center;
	top: -14px;
	position: absolute;
	right: 0;
}
span.top_arrow img {
	width: 40px;
}
.drop_wrapper {
	width: 160px;
	float: left;
}
.dropdown-content.cate_con a {
	border-bottom: none;
	font-size: 16px;
	color: #23333b;
	font-weight: bold;
}
.drop_wrapper span {
	margin-right: 10px;
	width: 25px;
	float: left;
}
.drop_wrapper_two span {
	margin-right: 10px;
	width: 25px;
	float: left;
}
.drop_wrapper_two {
	width: 100px;
	float: left;
}
.dropdown-content a {
	padding: 12px 16px;
    text-decoration: none !important;
    display: block;
    border-bottom: 1px solid rgba(204, 204, 204, 0.49);
    text-align: left;
    font-size: 15px;
    color: #23333b;
    font-weight: bold;
}
.dropdown-content a:hover {
	background-color: transparent;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: transparent;
}
span.down_arrow {
	width: 15px;
	float: left;
}
span.down_arrow {
    width: 13px;
    float: right;
    margin-left: 15px;
    height: 45px;
}
.drop_wrapper_two {
	width: 160px;
	float: left;
}
.dropdown-content a:hover {
	background: transparent;
	box-shadow: none;
}
.wherein_dubai {
	width: 213px;
	height: 35px;
	float: left;
	border-radius: 3px;
	margin-top: 13px;
	background: #fff;
}
.wherein_dubai input {
	border: none;
	padding: 7px;
	width: 195px;
	border-radius: 3px;
}
span.location {
	width: 18px;
	float: left;
	padding: 6px;
} 
input:focus {
	outline: none;
}
.sign_up a {
    color: #fff;
}
.dropdown-content.mobile_tst.vndrr_cont i {
    width: 35px;
    float: left;
}
.dropdown-content a:hover {
    background: rgba(204, 204, 204, 0.08);
}
.dropdown_holder.venn {
	width: 116px;
    float: left;
}
button.dropbtn.vndr {
    padding-top: 0px;
    text-transform: capitalize;
    padding-left: 2px;
}
.login.vndr_log {
    width: 110px; 
}
.dropdown-content.mobile_tst.vndrr_cont {
    max-width: 200px;
    width: 181px;
}
li.lasasst.two {
    margin-right: 0 !important;
}

.category_holder {
	width: 442px;
	height: 37px;
	border-radius: 3px;
	background: #fff;
	float: left;
	margin-left: 15px;
	margin-top: 13px;
}
.category_holder select {
	width: 180px;
	height: 37px;
	border: none;
	margin-left: 5px;
	color: #22333b;
	border-right: 1px solid #ccc;
}
select:focus {
	outline: none;
}
button:focus {
	outline: none;
}
.category_holder input {
	margin-left: 25px;
	width: 236px;
	padding: 4px;
	border: none;
}
button.dropbtn.category_btn {
	background-color: transparent;
	color: #bfbfbf;
	font-weight: bold;
	padding-top: 6px;
	font-size: 15px;
	border: none;
	width: 170px;
	cursor: pointer;
}
span.down_arrow.cate_arrow img {
	width: 18px;
}
.dropdown.categ {
	width: 150px;
	margin-top: 1px;
}
span.down_arrow.cate_arrow {
	margin-left: 70px;
	height: 40px;
}
.v_align {
	width: 100%;
	float: left;
	margin-top: 3px;
}
.search_btn {
	width: 57px;
	height: 37px;
	border-radius: 3px;
	background-color: #22333b;
	float: left;
	margin-top: 13px;
	margin-left: 15px;
}
.search_btn img {
	padding-left: 18px;
	padding-top: 9px;
}
.sign_up {
	width: 85px;
	height: 20px;
	font-weight: 500;
	text-align: center;
	float: left;
	font-size: 14px;
	color: #ffffff;
    padding-top: 23px;
}
.login {
    width: 90px;
    float: left;
    text-align: center;
    margin-top: 13px;
    height: 36px;
    padding-top: 7px;
    font-size: 14px;
    border-radius: 3px;
    border: solid 1px #ffffff;
    font-weight: 500;
    color: #fff;
}
.sign_holder {
	float: right;
}
.sign_up a {
    color: #fff;
}
.sign_up a:hover {
    color: #fff;
	    text-decoration: none;
}
/*nav_holder*/


.header_nav {
	width: 100%;
	height: 36px;
	background-color: #dd0825;
	float: left;
}
.navignation_holder {
	width: 100%;
	float: left;
	padding-top: 6px;
	height: 36px;
}
.navignation_holder ul li {
	list-style: none;
	display: inline;
	padding-right: 3%;
	font-size: 15px;
	color: #fff;
	font-weight: 600;
}
.navignation_holder a {
	color: #fff;
	text-decoration: none;
}
.navignation_holder a:hover {
	color: #fff;
	text-decoration: none;
}
/*banner_section*/


.banner_section {
	background: url(..//images/banner.jpg);
	width: 100%;
	height: 248px;
	/*
 background-color: #0c120c;*/
	float: left;
}
.banner_text {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	margin-top: 4%;
}
.banner_text h2 {
	font-size: 35px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}
.banner_text h5 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}
span.ios {
	margin-right: 15px;
}
/*listing section*/


.listing_holder {
	width: 100%;
	float: left;
	background: #f4f4f4;
}
.Trending_section {
	width: 100%;
	float: left;
}
.listing_head {
	width: 100%;
	float: left;
}
span.trending {
	font-size: 22px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	color: #22333b;
	padding-top: 3%;
	float: left;
	padding-bottom: 3%;
}
span.list_imgg {
	float: left;
	padding-bottom: 3%;
	padding-top: 3%;
	margin-top: 3px;
	margin-right: 2%;
}
.Starbucks {
	width: 24%;
	float: left;
	height: 310px;
	background: #fff;
	margin-right: 15px;
	margin-bottom: 20px;
}
.list_top {
	width: 100%;
	float: left;
}
.bitmap {
	width: 40px;
	height: 40px;
	opacity: 0.88;
	border-radius: 100px;
	background-color: #ffffff;
	border: solid 1px #e6e6e6;
	float: left;
	margin: 10px;
}
span.location_icon {
	width: 17px;
	float: left;
}
span.location_icon img {
	width: 10px;
	float: left;
}
.text_starbucks h4 {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	color: #111111;
}
.text_starbucks h6 {
	font-size: 12.1px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.1px;
	color: #3b3b3b;
	bottom: 4px;
	position: relative;
}
.bitmap img {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
.text_starbucks {
	width: 150px;
	float: left;
}
.tea_icon img {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
.tea_icon {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	float: left;
	margin: 10px;
	border: solid 1px #e6e6e6;
}
.image_holder {
	width: 100%;
	height: 147px;
	float: left;
}
.image_holder img {
	width: 100%;
	height: 147px;
	float: left;
}
.label_holder {
	width: 100%;
	float: left;
	margin: 0;
	border-bottom: solid 1px rgba(158, 158, 158, 0.31);
}
.lab_holder {
	width: 100%;
	float: left;
	margin: 10px;
}
.label_holder img {
	width: 115px;
	margin-top: 3px;
}
span.bol {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.7px;
	color: #111111;
	margin-top: 1px;
	float: left;
	margin-right: 5px;
}
span.review {
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.4px;
	color: #1674cd;
	margin-left: 2px;
	top: 4px;
	position: relative;
}
.btns_holder {
	width: 100%;
	float: left;
	margin: 10px;
}
span.chat {
	width: 95px;
	float: left;
	font-size: 14px;
	font-weight: 600;
	border-right: 1px solid #ccc;
	color: #8b8b8b;
}
span.heart {
	width: 95px;
	float: left;
	font-size: 14px;
	font-weight: 600;
	border-right: 1px solid #ccc;
	padding-left: 10px;
	color: #8b8b8b;
}
span.view {
	width: 73px;
	float: left;
	font-size: 14px;
	font-weight: 600;
	padding-left: 10px;
	color: #8b8b8b;
}
span.chat img {
	margin-left: 10px;
}
span.heart img {
	margin-left: 10px;
}
span.view img {
	margin-left: 10px;
}
.last {
	margin-right: 0;
}
.tea_icon.rest img {
	width: 20px;
	height: 40px;
	float: left;
	margin-left: 8px;
}
.tea_icon.rest {
	background: #1bad65;
}
.tea_icon.reffles img {
	width: 24px;
	height: 37px;
	margin-left: 7px;
}
.tea_icon.reffles {
	background: #ee41cf;
}
.tea_icon.nike {
	background: #3397db;
}
.tea_icon.nike img {
	width: 22px;
	margin-left: 8px;
}
.tea_icon.spa_cyr {
	background: #f76e44;
}
.tea_icon.spa_cyr img {
	width: 27px;
	margin-left: 6px;
}
.tea_icon.gym {
	background: #74d317;
}
.tea_icon.gym img {
	width: 21px;
	margin-left: 9px;
}
/*view more button*/
.view_more {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	float: left;
	background: #22333b;
	height: 70px;
	margin-bottom: 5%;
}
.view_more span {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.9px;
	color: #fff;
	top: 26px;
	position: relative;
}
span.nos {
	font-weight: 600;
	color: #65767d;
	margin-left: 10px;
}
/*latest evients*/
.events_holder {
	width: 100%;
	float: left;
	height: 644px;
	background-color: rgba(34, 50, 59, 0.51);
	background: url(..//images/events.jpg);
	background-size: cover;
}
.latest_events {
	width: 100%;
	float: left;
}
.evients-holder {
	width: 100%;
	/* float: left; */
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.jcarousel-wrapper {
	margin: 20px auto;
	position: relative;
	border: none !important;
	width: 100% !important;
	height: auto !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: none !important;
	border-radius: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.label_event {
	width: 270px;
	float: left;
	margin-right: 10px;
}
.label_event img {
	width: 100%;
	float: left;
	height: 200px;
}
.jcarousel li {
	float: left;
	margin-right: 15px;
}
.evients-holder h3 {
	font-size: 35px;
	font-weight: bold;
	padding-top: 4%;
	border-bottom: 1px solid rgba(204, 204, 204, 0.68);
	width: 250px;
	margin: 0 auto;
	letter-spacing: 2.4px;
}
.latest_events h5 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 4%;
}
span.date {
	position: relative;
	text-align: center;
	width: 125px;
	background: #ec0d2c;
	color: #fff;
	padding: 4px;
	border-radius: 100px;
	left: 71px;
	font-size: 14px;
	margin-bottom: -15px;
	float: left;
}
.jcarousel-control-prev, .jcarousel-control-next {
	top: 95px !important;
	width: 40px !important;
	height: 40px!important;
	border: 1px solid #767574;
	font: 24px/33px Arial, sans-serif !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0 !important;
	background: transparent !important;
}
.img_inner {
	width: 100%;
	float: left;
}
.img_inner img {
	width: 15px;
	float: left;
	margin-top: 4px;
}
.img_inner h4 {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.2px;
	text-align: center;
	color: #ccc;
	margin-top: 18px;
	float: left;
}
.spa {
	width: 160px;
	margin: 0 auto;
	text-align: center;
	top: 0px;
	position: relative;
	height: 115px;
}
.spa span {
	color: #b6b6b6;
	font-size: 17px;
}
.more_events {
	width: 100%;
	float: left;
	margin: 0 auto;
	text-align: center;
	margin-top: 3%;
}
.more_events h4 {
	color: rgba(204, 204, 204, 0.88);
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
}
/*Most Popular In Dubai*/
.Most_popular {
	width: 100%;
	float: left;
}
.popular_holder {
	width: 100%;
	float: left;
	margin-bottom: 5%;
}
.popular_head {
	width: 100%;
}
.popular_head span {
	width: 40px;
	float: left;
}
.popular_head h2 {
	font-size: 30px;
	font-weight: bold;
}
/* main_nav tab with scrool*/


nav {
	position: relative;
	margin: 0 auto;
	width: 100%;
}
nav > span {
	position: absolute;
	top: 0px;
	right: 0;
	background: transparent;
	height: 100%;
	cursor: pointer;
	line-height: 45px;
	width: 7px;
	text-align: center;
	font-size: 42px;
}
#navi {
	overflow: hidden;
	width: 100%;
	padding: 0;
	background: transparent;
	white-space: nowrap;
}
#navi li {
	display: inline-block;
	padding-right: 63px;
	border-right: none;
	padding-top: 15px;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #2c3c44;
	padding-bottom: 10px;
}
.main_nav img {
	width: 18px;
	margin-top: 3px;
}
.main_nav {
	border-bottom: 1px solid rgba(204, 204, 204, 0.7);
	margin-bottom: 10px;
}
.main_nav a {
	color: rgba(0, 0, 0, 0.54);
	text-decoration: none !important;
}
.main_nav a:hover {
	color: #fc0d1b;
	font-weight: bold;
}
/*tab style*/

.nav-tabs>li {
	float: none !important;
	margin-bottom: 0px !important;
}
.nav-tabs>li>a {
	margin-right: 0px !important;
	border: transparent !important;
	border-radius: none !important;
}
.nav>li>a {
	padding: 0 !important;
}
.nav-tabs>li>a:hover {
	border-color: transparent !important;
}
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent !important;
}
/*tab content*/


.img_holder {
	width: 45%;
	float: left;
	margin-right: 10%;
}
.img_holder img {
	width: 100%;
	float: left;
	height: 520px;
}
.tab-pane {
	margin-top: 4%;
	width: 100%;
	float: left;
}
.scro0l_holder {
	width: 100%;
	float: left;
	margin-bottom: 2%;
}
.rating img {
	width: 100px;
}
.rating {
	width: 65%;
	float: left;
	padding-left: 15px;
}
.scro0l_holder ul li {
	list-style: none;
	border-bottom: 1px solid #ccc;
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
span.img_section img {
	width: 100%;
	float: left;
	border-radius: 100px;
}
span.no {
	background-color: #22333b;
	float: left;
	border-radius: 50%;
	color: #fff;
	padding: 9px 15px 8px;
	font-weight: bold;
	font-size: 16px;
	top: 25px;
	position: relative;
}
span.img_section {
	width: 80px;
	height: 82px;
	border-radius: 100px;
	float: left;
	margin-left: 7%;
	/* bottom: 27px; */
	position: relative;
}
span.star_rat {
	width: 200px;
	float: left;
	margin-top: -5px;
}
span.sub_test {
	width: 200px;
	float: left;
	margin-top: 5px;
}
.rating h5 {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #22333b;
}
span.location_icon.new img {
	width: 16px;
}
span.location_icon.new {
	margin-right: 10px;
}
.scrol_wrapper {
	width: 45%;
	float: left;
	height: 517px;
	overflow-y: scroll;
}

/* scroll bar style*/

::-webkit-scrollbar {
 width:5px;
}
 
::-webkit-scrollbar-track {
 -webkit-border-radius:5px;
 border-radius:5px;
 background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
 -webkit-border-radius:5px;
 border-radius:5px;
 background:rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
 background:rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
 background:rgba(0,0,0,0.05);
}
/*image hover animation*/


.hovereffect {
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
	background: linear-gradient(45deg, #020202 0%, #1bad65 100%);
}
.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 3em;
	text-align: left;
}
.hovereffect img {
	display: block;
	position: relative;
	max-width: none;
	width: calc(100% + 60px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	-webkit-transform: translate3d(-40px, 0, 0);
	transform: translate3d(-40px, 0, 0);
}
.hovereffect h2 {
	text-transform: uppercase;
	color: #fff;
	position: relative;
	font-size: 17px;
	background-color: transparent;
	padding: 15% 0 10px 0;
	text-align: left;
}
.hovereffect .overlay:before {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 1px solid #fff;
	content: '';
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
}
.hovereffect a, .hovereffect p, .hovereffect h2, .hovereffect .overlay_img, .hovereffect .star_imgholder {
	color: #FFF;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
}
.hovereffect:hover img {
	opacity: 0.8;
	filter: alpha(opacity=60);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.hovereffect:hover .overlay:before, .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2, .hovereffect:hover .overlay_img, .hovereffect:hover .star_imgholder {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.overlay img {
	width: 100px;
	height: 100px;
	float: left;
}
span.overlay_img {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	float: left;
}
.overlay h2 {
	width: 100%;
	float: left;
}
span.overlay_img {
	left: 40%;
	position: absolute;
	top: -20px;
}
.overlay h2 {
	top: 5%;
	font-size: 36px;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
}
.overlay p {
	text-align: center;
	position: relative;
	font-size: 16px;
	font-weight: bold;
	bottom: 20px;
}
.top_zro {
	top: 22%;
	position: relative;
	width: 100%;
	float: left;
}
.overlay a {
	color: #fff !important;
	text-decoration: none !important;
}
span.star_imgholder img {
	width: 190px;
	height: 48px;
	float: left;
	left: 26%;
}
span.star_imgholder {
	width: 100%;
	float: left;
	margin: 0 auto;
	text-align: center;
}
a.round {
	background: #fdba47;
	padding: 16px 12px 16px;
	border-radius: 100px;
	top: 14px;
	position: relative;
}
/* footer style*/

.footer_holder {
	width: 100%;
	float: left;
	height: 172px;
	background-color: #22333b;
	height: 200px;
}
.footer_content {
	width: 100%;
	float: left;
	padding-top: 4%;
	margin: 0 auto;
	text-align: center;
}
.footer_content ul li {
	list-style: none;
	display: inline-block;
	font-size: 16px;
	color: #fff;
	padding-right: 30px;
	font-weight: bold;
	letter-spacing: 0.6px;
}
.footer_content li img {
	width: 100px;
}
.border {
	border-bottom: 1px solid rgba(158, 158, 158, 0.83);
	width: 81%;
	margin: 0 auto;
}
.social_media {
	width: 100%;
	float: left;
}
.social_media ul li {
	list-style: none;
	display: inline-block;
	margin-top: 2%;
	padding-left: 5%;
	font-size: 15px;
}
.social_media span img {
	width: 23px;
	height: 15px;
}
.social_media span {
	margin-right: 10px;
}
.copy_right {
	width: 100%;
	float: left;
	margin-top: 2%;
	letter-spacing: 0.1px;
	color: #fff;
}
/*image zoom effect*/


.zoom-effect-container {
	float: left;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.image-card {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	float: left;
}
.image-card img {
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}
.zoom-effect-container:hover .image-card img {
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}
/*gray scalle*/

.hover08 figure img {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	cursor: pointer;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
#myTopnav {
	clear: both;
	float: left;
	width: 100%;
	display: none;
}
.hide_section {
	display: none;
}
/*event page start here*/

.events_holder.events {
	background: #f4f4f4;
	height: auto;
}
.product_list ul li {
	list-style: none;
	width: 24%;
	float: left;
	background: #fff;
	margin-right: 15px;
	margin-bottom: 4%;
}
.product_list ul li:hover {
	box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.09);
	cursor: pointer;
	background: rgba(238, 238, 238, 0.05);
}
span.date.dateee {
	padding: 4px;
	margin-bottom: -28px;
	top: -12px;
}
.img_inner.inner h4 {
	color: #101010;
	text-align: left;
	margin-left: 10px;
}
.spa.spann {
	width: 100%;
	margin-left: 10px;
}
span.im_tst {
	width: 145px;
	float: left;
	color: #000;
}
.label_event.event {
	width: 100%;
	float: left;
}
.last {
	margin-right: 0 !important;
}
/*deals page*/


.Trending_Deals {
	width: 100%;
	float: left;
}
.domin {
    width: 49%;
    float: left;
    margin-right: 33px;
}
.domin img {
	width: 100%;
	float: left;
	height: 310px;
}
.Trending_Deals ul li {
	list-style: none;
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 2%;
}
.Trending_Deals ul li img {
	width: 100%;
	height: 310px;
}
.img_hover {
	width: 43%;
	float: left;
	position: absolute;
}
.img_hover a {
	text-align: right;
	float: right;
	background: #45a964;
	padding: 8px 25px 8px;
	color: #fff;
	border-radius: 152.1px;
	font-size: 24px;
	font-weight: 900;
	top: 20px;
	right: 45px;
	position: relative;
}
.img_hover a:hover {
	color: #fff;
	text-decoration: none;
}
.off {
	width: 100%;
	float: left;
	height: 150px;
}
span.round_img {
	width: 80px;
	height: 80px;
	float: left;
	background: #fff;
	margin-left: 17px;
	border-radius: 100%;
}
span.round_img img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.domin_holder {
	width: 100%;
	float: left;
	margin-top: 20px;
}
span.tstd {
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	margin-top: 30px;
	float: left;
	font-family: sans-serif;
	margin-left: 10px;
	text-shadow: -1px -1px 2px rgb(34, 51, 59);
}
.ne_imgholder {
	width: 22%;
	float: left;
	position: absolute;
}
.neww_offer {
	width: 100%;
	float: left;
	height: 150px;
}
.neww_offer a {
	text-align: right;
	float: right;
	background: #45a964;
	padding: 8px 25px 8px;
	color: #fff;
	border-radius: 152.1px;
	font-size: 24px;
	font-weight: 900;
	top: 20px;
	right: 45px;
	position: relative;
}
.neww_offer a:hover {
	color: #fff;
	text-decoration: none;
}
span.round_img.sma img {
	width: 50px;
	height: 50px;
	float: left;
}
span.round_img.sma {
	width: 50px;
	height: 50px;
}
span.tstd.tst {
	font-size: 17px;
}
.domin_holder.mew {
	top: 50px;
	position: relative;
}
.mainnn {
    width: 100%;
    float: left;
}
.domin_1 {
    width: 48%;
    float: left;
}
li.tommp {
    margin-right: 0 !important;
}
li.leftff {
    margin-right: 30px !important;
}
li.right.marggin {
    margin-right: 0;
}
li.latst.marggin {
    margin-right: 0;
}
li.right.marggin.bthh {
    margin-right: 25px;
}
li.latst.marggin.bthh {
    margin-right: 25px;
}
.maul {
    width: 100%;
    float: left;
}

/*login page style*/


.col-sm-5.suce {
    margin: 0 auto;
    text-align: center;
    float: none;
    margin: 0 auto;
    clear: both;
    width: 44%;
}
.login.logg a {
    color: #fff;
    text-decoration: none;
}
.main-container {
    width: 100%;
    float: left;
}
.inner-box a {
    text-decoration: none !important;
	text-transform: capitalize;
}
h2.logo-title { 
    color: rgb(221, 8, 37);
	    font-size: 24px;


}
button#loginBtn:hover {
    background: #dd0825 !important;
}
.btn-primary {
    background-color: #ec0d2c !important; 
    border-color: #ec0d2c !important; 
    color: #fff;
}
p.text-center.pull-right a {
    color: #dd0825;
    font-weight: bold;
	    text-decoration: none;
}
.login-box-btm.text-center a {
    color: #000;
    font-size: 17px;
    text-decoration: none;
}
div.login-box .panel-footer label {
    font-weight: bolder !important;
    color: #dd0825 !important;
}
.panel-intro {
    padding: 0px 0 0px !important;
}
.alert-danger {
    margin-top: 20px !important;
}
.sign_up a:focus{
	color:#fff;	
}
.btn-success {
    background-color: #ec0d2c !important;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #dd0825 !important;
    border-color: #dd0825 !important;
}
.navignation_holder a:focus{
	color:#fff;	
	text-decoration: none;
		
}
.icon-color-3 {
    color: #ff4b64 !important;
}
.alert.alert-success {
    margin-top: 25px !important;
}
